{{#each users}}
<div class="container">
  <div class="mt-4">
    <ul class="list-group">
      {{!-- <th scope="row">{{sum @index 1}}</th> --}}
      {{!-- <li class="list-group-item list-group-item-success">Name:  {{this.name}}</li>
      <li class="list-group-item">Exp:  {{this.exp}}</li> --}}
      
    </ul>
    <table >
      <tr>
          <td rowspan="2" class="rank">{{sum @index 1}}</td>
          <td class="list-group-item list-group-item-success frame">Name:  {{this.name}}</td>
      </tr>
      <tr>
          <td class="list-group-item frame">Exp:  {{this.exp}}</td>
      </tr>
    </table>
  </div>
</div>
{{/each}}


